@model SacramentMeeting.Models.SacramentPlan

@{
    ViewData["Title"] = "Details";
}

<dl class="program-container">
    <h2 class="program-center mb-5">
        @Html.DisplayFor(model => model.Date)
    </h2>
    <div class="program-row">
        <dt class="left">
            @Html.DisplayNameFor(model => model.BishopricMember)
        </dt>
        <dd class="right">
            @Html.DisplayFor(model => model.BishopricMember.BishopricMemberName)
        </dd>
    </div>

    <div class="program-row">
        <dt class="left">
            @Html.DisplayNameFor(model => model.OpeningHymn)
        </dt>
        <dd class="right">
            @Html.DisplayFor(model => model.OpeningHymn.HymnNumber)
        </dd>
    </div>
    <p class="hymn-name">@Html.DisplayFor(model => model.OpeningHymn.HymnName)</p>
    <div class="program-row">
        <dt class="left">
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </dt>
        <dd class="right">
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>
    </div>
    <p class="program-center">Ward and Stake Business</p>
    <div class="program-row">
        <dt class="left">
            @Html.DisplayNameFor(model => model.SacramentHymn)
        </dt>
        <dd class="right">
            @Html.DisplayFor(model => model.SacramentHymn.HymnNumber)
        </dd>
    </div>
    <p class="hymn-name">
        @Html.DisplayFor(model => model.SacramentHymn.HymnName)
    </p>
    <p class="program-center">Administration of the Sacrament</p>
    @if (Model.Speakers.Count > 0)
    {
        <div class="program-row">
            <dt class="left">Talks</dt>
        </div>
        @foreach (var item in Model.Speakers)
        {
            <div class="program-row">
                <dd class="left speaker-name">
                    @Html.DisplayFor(modelItem => item.Name)
                </dd>
                <dt class="right ">
                    @Html.DisplayFor(modelItem => item.Topic)
                </dt>
            </div>
        }
    }
    @if (Model.IntermediateHymn != null)
    {
        <div class="program-row">
            <dt class="left">

                @Html.DisplayNameFor(model => model.IntermediateHymn)
            </dt>
            <dd class="right">
                @Html.DisplayFor(model => model.IntermediateHymn.HymnNumber)
            </dd>
        </div>
        <p class="hymn-name">@Html.DisplayFor(model => model.IntermediateHymn.HymnName)</p>
    }
    else
    {
        <p class="program-center">Bearing of Testimonies</p>
    }

    <div class="program-row">
        <dt class="left">
            @Html.DisplayNameFor(model => model.ClosingHymn)
        </dt>
        <dd class="right">
            @Html.DisplayFor(model => model.ClosingHymn.HymnNumber)
    </div>
    <p class="hymn-name">@Html.DisplayFor(model => model.ClosingHymn.HymnName)</p>
    <div class="program-row">
        <dt class="left">
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </dt>
        <dd class="right">
            @Html.DisplayFor(model => model.ClosingPrayer)
        </dd>
    </div>

</dl>

<div class="program-center mt-6">
    <a asp-action="Edit" asp-route-id="@Model.SacramentPlanId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.SacramentPlanId">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
